.d-container{
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
}

.right{
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.right>p{
  text-align: center;
}
.d-where{
  display: flex;
  gap: 30px;
  margin: 0 auto;
}